.text-center {
   
    position: center;
    font-weight: 500;
    font-family: Tahoma
}

.image-9-icon {
    position: center;
    top: 271px;
    left: 366px;
    width:350px;
    height: 350px;
    object-fit: cover;
}