@model MUSM_api_MVCwebapp.Models.TaskModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <label asp-for="Priority" class="control-label">Priority</label>
            <div class="form-control">
                <label>
                    <input type="radio" asp-for="Priority" value="Low" />
                    Low
                </label>
                <label>
                    <input type="radio" asp-for="Priority" value="Medium" />
                    Medium
                </label>
                <label>
                    <input type="radio" asp-for="Priority" value="High" />
                    High
                </label>
            </div>
            <span asp-validation-for="Priority" class="text-danger"></span>

            <div class="form-group">
                <label asp-for="Category" class="control-label">Category</label>
                <div class="form-control">
                    <label>
                        <input type="radio" asp-for="Category" value="Electrical" />
                        Electrical
                    </label>
                    <label>
                        <input type="radio" asp-for="Category" value="Technological" />
                        Technological
                    </label>
                    <label>
                        <input type="radio" asp-for="Category" value="Plumbing" />
                        Plumbing
                    </label>
                    <label>
                        <input type="radio" asp-for="Category" value="Construction" />
                        Construction
                    </label>
                    <label>
                        <input type="radio" asp-for="Category" value="Carpentry" />
                        Carpentry
                    </label>
                </div>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
           
            @if (ViewBag.Request != null)
            {
                <div class="form-group">
                    <label asp-for="RequestId" class="control-label"></label>
                    <input asp-for="RequestId" class="form-control" readonly value=@ViewBag.Request.Id/>
                </div>
            }
@*
            <div class="form-group">
                <label asp-for="WorkerId" class="control-label"></label>
                <select asp-for="WorkerId" class ="form-control" asp-items="ViewBag.WorkerId"></select>
            </div>
            *@
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if(ViewBag.Request != null){

        <a asp-controller="Requests" asp-action="Index" >Back to List</a>
    }
    else
    {
        <a asp-action="Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
