@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@model MUSM_api_MVCwebapp.Dtos.EditTaskDto

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/global.css" />
<link rel="stylesheet" href="~/css/EditTask.css" />

<h1>Edit</h1>

<h4>TaskModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
             @if ((await AuthorizationService.AuthorizeAsync(User, "RequireManagerRole")).Succeeded)
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
               

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div> 

                <label asp-for="Priority" class="control-label">Priority</label>
                <div class="form-control">
                    <label>
                        <input type="radio" asp-for="Priority" value="Low" />
                        Low
                    </label>
                    <label>
                        <input type="radio" asp-for="Priority" value="Medium" />
                        Medium
                    </label>
                    <label>
                        <input type="radio" asp-for="Priority" value="High" />
                        High
                    </label>
                </div>
                <span asp-validation-for="Priority" class="text-danger"></span>

                <div class="form-group">
                    <label asp-for="Category" class="control-label">Category</label>
                    <div class="form-control">
                        <label>
                            <input type="radio" asp-for="Category" value="Electrical" />
                            Electrical
                        </label>
                        <label>
                            <input type="radio" asp-for="Category" value="Technological" />
                            Technological
                        </label>
                        <label>
                            <input type="radio" asp-for="Category" value="Plumbing" />
                            Plumbing
                        </label>
                        <label>
                            <input type="radio" asp-for="Category" value="Construction" />
                            Construction
                        </label>
                        <label>
                            <input type="radio" asp-for="Category" value="Carpentry" />
                            Carpentry
                        </label>
                    </div>
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input asp-for="DueDate" class="form-control" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>

               
            }
            <div class="form-group">
                <label asp-for="CompletionStatus" class="control-label">Completion Status</label>
                <div class="form-control">
                    <label>
                        <input type="radio" asp-for="CompletionStatus" value="Open" />
                        Open
                    </label>
                    <label>
                        <input type="radio" asp-for="CompletionStatus" value="Assigned" />
                        Assigned
                    </label>
                    <label>
                        <input type="radio" asp-for="CompletionStatus" value="In Progress" />
                        In Progress
                    </label>
                    <label>
                        <input type="radio" asp-for="CompletionStatus" value="On Hold" />
                        On Hold
                    </label>
                    <label>
                        <input type="radio" asp-for="CompletionStatus" value="Done" />
                        Done
                    </label>

                </div>

                <span asp-validation-for="CompletionStatus" class="text-danger"></span>
            </div>

            @if ((await AuthorizationService.AuthorizeAsync(User, "RequireManagerRole")).Succeeded)
            {
                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-warning" />
                </div>

            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="submit" class="btn btn-warning" />
                </div>
            }
           
            
           
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
