@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage Your Maintenance</h1>
    <h1 class="display-5">Work as a TEAM!</h1>
    <img class="main-img"  src=".\images\image_10-removebg.png" />
</div>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="~/css/HomePageStyle.css" rel='stylesheet' />
    </head>



</html>
