@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<html>
<head>
    <meta charset="utf-8" />
    <link href="~/css/loginStyle.css" rel='stylesheet' />
    
</head>

</html>
<br />
<br />



<div class="row">
    <div class="col-sm">
        <img class="image-9-icon"  src="~/images/image_10-removebg.png" />
    </div>
    <div class="col-md-5">
        <div class="text">
            <h1>Welcome back to</h1>
            <h1>MU Smart Maintenance.</h1>
        </div>

        <section>
            <form id="account" method="post">
                
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="~/images/left-placeholder.svg" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="~/images/left-placeholder.svg" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg  btn-outline-info">Log in</button>
                </div>
                <div>
                    <br />
                    <!-- <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                   <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                     </p>-->
                </div>
            </form>
        </section>
    </div>
   
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
